<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATp1jxR7k_X_G8yHNSL06LpftKeevPnzA</string>
	<key>GCM_SENDER_ID</key>
	<string>797971888519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.est</string>
	<key>PROJECT_ID</key>
	<string>est-app-6945b</string>
	<key>STORAGE_BUCKET</key>
	<string>est-app-6945b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797971888519:ios:9b57ad166dbe462e1dfb22</string>
</dict>
</plist>